# do not include results and saved checkpoints
results/*
checkpoints/*
# but, include the readme file
!results/README.md
!checkpoints/README.md

# ignore
src/__pycache__
src/.vscode
.vscode
.ipynb_checkpoints
.empty
